/* Add CSS Styling */
.odd_num {
    background-color: rgb(255, 167, 167);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.odd_num.three{
    font-size: 32px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    background-color: lightgreen;
    font-size: 32px;
    font-weight: bold;
}